[project]
	description = gerrit hands on SEA 2018
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dom Heinzeller (climbfuji)
[access "refs/for/refs/*"]
	read = group user/Dom Heinzeller (climbfuji)
	push = group user/Dom Heinzeller (climbfuji)
	label-Code-Review = -2..+2 group user/Dom Heinzeller (climbfuji)
	label-Verified = -1..+1 group user/Dom Heinzeller (climbfuji)
	rebase = group user/Dom Heinzeller (climbfuji)
	removeReviewer = group user/Dom Heinzeller (climbfuji)
	submit = group user/Dom Heinzeller (climbfuji)
[access "refs/heads/*"]
	read = group user/Dom Heinzeller (climbfuji)
	create = group user/Dom Heinzeller (climbfuji)
	push = +force group user/Dom Heinzeller (climbfuji)
	pushMerge = group user/Dom Heinzeller (climbfuji)
[access "refs/tags/*"]
	push = group user/Dom Heinzeller (climbfuji)
	push = +force group user/Dom Heinzeller (climbfuji)
